<a href="https://colab.research.google.com/github/mhcox1251/Thinkful-Practice-Projects/blob/master/Python_Checkpoint_3_Assignment_API_calls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment completed for Thinkful Data Analytics course. Learning to query APIs in Python.**

**Using requests and pandas module.**

**Assignment instructions:**

Visit the documentation for the Harvard Art Museum API: https://github.com/harvardartmuseums/api-docs

On the first page you will find the link to request your API key. Request an API key.

Next, write a program to fetch the names and birth places of all British persons listed in the API. Store your program in a publicly-accessible Jupyter notebook via Google Colab.

You will have to browse the API docs to find the right endpoint. There is some help on using the API key on the first page.

In [0]:
import requests
import pandas

In [0]:
#initial call

url = 'https://api.harvardartmuseums.org/person'

query = {'apikey': '0b801cc0-04f7-11ea-96a4-79e92a6246ae',
         'page': '1',
         'q': 'culture: British',
         'fields': 'birthplace,displayname'
        }

response = requests.get(url, query)
print('Querying {}'.format(response.url))

data = response.json()

status = response.status_code
print('status: {}'.format(status))

print(data['info'])

total_pages = data['info']['pages']

print(len(data['records']))
print(data['records'])

Querying https://api.harvardartmuseums.org/person?apikey=0b801cc0-04f7-11ea-96a4-79e92a6246ae&page=1&q=culture%3A+British&fields=birthplace%2Cdisplayname
status: 200
{'totalrecordsperquery': 10, 'totalrecords': 1862, 'pages': 187, 'page': 1, 'next': 'https://api.harvardartmuseums.org/person?apikey=0b801cc0-04f7-11ea-96a4-79e92a6246ae&page=2&q=culture%3A%20British&fields=birthplace%2Cdisplayname'}

In [0]:
british_folk = []
page = 1

while page < total_pages:
  query = {'apikey': '0b801cc0-04f7-11ea-96a4-79e92a6246ae',
         'page': page,
         'q': 'culture: British',
         'fields': 'birthplace,displayname'}
  response = requests.get(url, query)
  if(response.ok):
    print('Querying {}'.format(page))
    if page == 1:
      british_folk =  response.json()['records']
      page = page + 1
    else:
      british_folk = british_folk + response.json()['records']
      page = page + 1
  else:
    print("fix ur query")

Querying 1
Querying 2
Querying 3
Querying 4
Querying 5
Querying 6
Querying 7
Querying 8
Querying 9
Querying 10
Querying 11
Querying 12
Querying 13
Querying 14
Querying 15
Querying 16
Querying 17
Querying 18
Querying 19
Querying 20
Querying 21
Querying 22
Querying 23
Querying 24
Querying 25
Querying 26
Querying 27
Querying 28
Querying 29
Querying 30
Querying 31
Querying 32
Querying 33
Querying 34
Querying 35
Querying 36
Querying 37
Querying 38
Querying 39
Querying 40
Querying 41
Querying 42
Querying 43
Querying 44
Querying 45
Querying 46
Querying 47
Querying 48
Querying 49
Querying 50
Querying 51
Querying 52
Querying 53
Querying 54
Querying 55
Querying 56
Querying 57
Querying 58
Querying 59
Querying 60
Querying 61
Querying 62
Querying 63
Querying 64
Querying 65
Querying 66
Querying 67
Querying 68
Querying 69
Querying 70
Querying 71
Querying 72
Querying 73
Querying 74
Querying 75
Querying 76
Querying 77
Querying 78
Querying 79
Querying 80
Querying 81
Querying 82
Querying 83
Querying 84
Querying 85
Querying 86
Querying 87
Querying 88
Querying 89
Querying 90
Querying 91
Querying 92
Querying 93
Querying 94
Querying 95
Querying 96
Querying 97
Querying 98
Querying 99
Querying 100
Querying 101
Querying 102
Querying 103
Querying 104
Querying 105
Querying 106
Querying 107
Querying 108
Querying 109
Querying 110
Querying 111
Querying 112
Querying 113
Querying 114
Querying 115
Querying 116
Querying 117
Querying 118
Querying 119
Querying 120
Querying 121
Querying 122
Querying 123
Querying 124
Querying 125
Querying 126
Querying 127
Querying 128
Querying 129
Querying 130
Querying 131
Querying 132
Querying 133
Querying 134
Querying 135
Querying 136
Querying 137
Querying 138
Querying 139
Querying 140
Querying 141
Querying 142
Querying 143
Querying 144
Querying 145
Querying 146
Querying 147
Querying 148
Querying 149
Querying 150
Querying 151
Querying 152
Querying 153
Querying 154
Querying 155
Querying 156
Querying 157
Querying 158
Querying 159
Querying 160
Querying 161
Querying 162
Querying 163
Querying 164
Querying 165
Querying 166
Querying 167
Querying 168
Querying 169
Querying 170
Querying 171
Querying 172
Querying 173
Querying 174
Querying 175
Querying 176
Querying 177
Querying 178
Querying 179
Querying 180
Querying 181
Querying 182
Querying 183
Querying 184
Querying 185
Querying 186

In [0]:
print(len(british_folk))
british_folk = pandas.DataFrame(british_folk) 
british_folk[['displayname', 'birthplace']]

1860

                                displayname                        birthplace
0                           Alastair Wright                              None
1                           Herbert Barraud                              None
2                            George Bankart                              None
3                                John Feake                              None
4                                  H. Pyall                              None
...                                     ...                               ...
1855                         Joseph Sanders                              None
1856  Charles Shepherd and Arthur Robertson                              None
1857                          Neeta Madahar  Hayes, Middlesex County, England
1858                          George Manjoy                              None
1859                         Hill & Adamson                   Perth, Scotland

[1860 rows x 2 columns]